@import "../../styles/variables.scss";

.container {
    position: relative;
    width: 100%;
    max-width: 16em;
    min-height: 1.5em;
    border: .05em solid $purple-600;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .25em;
    outline: none;
    cursor: pointer;

    &:focus {
        border-color: $purple-500;
    }
}

.value {
    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    white-space: nowrap;
}

.empty-select {
    color: $purple-400;
    cursor: inherit;
}

.clear-btn {
    background: none;
    color: $whitecream-100;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.15em;
    border-radius: 5em;
    padding-top: 1px;
    width: 24px;
    height: 24px;
    background-color: $purple-900;
    align-self: flex-start;
    flex-shrink: 0;

    &:hover {
        transform: scale(1.05);
        font-size: 1.2em;
        padding-top: 0px;
        background-color: $pink-300;
    }

    &:focus {
        background-color: $pink-300;
    }
}

.divider {
    background-color: $purple-600;
    width: .05em;
    align-self: stretch;
}

.caret {
    border: .25em solid transparent;
    border-top-color: $whitecream-100;
    translate: 0 25%;
    height: 5px;
    transition: all .15s ease-in-out;

    &.dropdowned {
    transform: rotate(180deg);
    translate: 0 -25%;
    }
}

.options {
    margin: 0;
    padding: .5em;
    display: none;
    overflow-y: auto;
    border: .05em solid $purple-700;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    position: absolute;
    background-color: $purple-700;
    z-index: 100;
    box-shadow: 5px 6px 12px $purple-900;

    &.show {
        display: block;
    }
}

.option {
    padding: .25em .5em;
    cursor: pointer;
    border-radius: .15em;
    transition: all .1s ease;

    &.highlighted {
        background-color: $purple-800;
        transform: scale(1.03);
    }

    &.selected {
        background-color: $purple-900;
    }
}


.badges-container {
    padding: 1rem 0;
    width: 100%;
    min-height: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.option-badge {
    display: flex;
    align-items: center;
    border: none;
    border-radius: .5em;
    gap: .25em;
    padding: .25em .5em;
    cursor: pointer;
    background-color: $pink-300;
    outline: none;
    color: $whitecream-100;
    transition: all .2s ease;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    max-height: 2em;

    &:focus, &:hover {
        background-color: $pink-500;
    }
}