@import "../../styles/variables.scss";

.card {
    background-color: $purple-800;
    padding: 2em 3em;
    border-radius: .5em;
    height: auto;
    min-height: 300px;
    overflow-y: visible;
    width: 100%;
    max-width: 30em;
      
    &__title {
      font-weight: 500;
      margin-bottom: 1em;
    }
}