@import "../../styles/variables.scss";

.checklist {
    display: flex;
    gap: .5em;
    flex-direction: column;
    flex-wrap: wrap;

    &__item {
        display: flex;
        gap: .25em;
        cursor: pointer;
        max-width: max-content;
        align-items: center;
    }
}

input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    accent-color: $pink-300;
    background-color: $pink-300;
    border: 2px solid $pink-300;
    border-radius: 3px;
}

input[type="checkbox"]:checked:hover, input[type="checkbox"]:focus {
    background-color: $pink-500;
}

label {
    cursor: inherit;
}


@media (min-width: $mobile) {
    .checklist {
        max-height: 200px;
    }
}