@import "../../styles/variables.scss";

.checklist {
    display: flex;
    gap: .5em;
    flex-direction: column;
    flex-wrap: wrap;

    &__item {
        display: flex;
        gap: .25em;
        padding: .2em .4em;
        cursor: pointer;
        max-width: max-content;
        align-items: center;
        border-radius: .25em;
        background-color: transparent;

        &:hover {
            background-color: $purple-700;
            transform: scale(1.03);
        }

        &.checked {
            background-color: $purple-900;
        }
    }
}

.checkbox[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    accent-color: $pink-300;
    background-color: $pink-300;
    border: 2px solid $pink-300;
    border-radius: 3px;
}

.checkbox:checked:hover, .checkbox:focus {
    background-color: $pink-500;
}

.checkbox:checked + .checklist__item {
    background-color: $purple-900;
}

label {
    cursor: inherit;
}


@media (min-width: $mobile) {
    .checklist {
        max-height: 220px;
    }
}