@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap');
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.fullpage {
  background-color: $purple-900;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  gap: 2em;
  place-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1.15em;
  color: $whitecream-100;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  padding: 2em;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $purple-900;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pink-300;
}